[ssh]
enabled = {{ security_fail2ban_ssh_enabled }}
port = {{ security_fail2ban_ssh_port }}
maxretry = {{ security_fail2ban_ssh_maxretry }}
bantime = {{ security_fail2ban_ssh_bantime }}
ignoreip = {{ security_fail2ban_ssh_ignoreip }}
